{% extends 'base_back.html.twig' %}


{% block title %}Modifier l'utilisateur{% endblock %}
{% block body %}
    <h1>Modifier l'utilisateur</h1>
    {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}


    <a href="{{ path('app_user_index') }}"><button style="margin-left: 0px; width: 64px" class="btn btn-sm btn-outline-info">Retour</button></a>
<br>
    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
